* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #606060;
  font-family: "Open Sans", "Tahoma", sans-serif;
}
p {
  font-size: 0.875rem;
  line-height: 1.6em;
}
a {
  text-decoration: none;
  transition: 0.4s ease;
}
a:hover {
  color: #e5d4f9;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*** Navbar ***/
.logo {
  height: 32px;
}
.menu-links .menu-item {
  color: #5e387c;
}
.nav-link {
  color: #5e387c;
}
h1 {
  color: #5e387c;
  font-family: "Gill Sans", "Gill Sans MT", "Lato", "Tahoma", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
h2 {
  line-height: 1.25;
}

/*** Homepage ***/
.hero {
  background: url("/images/hero-background.png");
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", "Lato", "Tahoma", sans-serif;
  font-weight: 700;
  height: 80vh;
  position: relative;
  z-index: 1;
}
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 950px;
  margin: auto;
}
.homepage h1 {
  color: #ffffff;
  font-size: 3em;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 1em;
}
.homepage h2 {
  color: #5e387c;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.homepage h3 {
  color: #5e387c;
  font-weight: bold;
  margin-bottom: 1rem;
}
.button-start {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75em 2em;
  border: none;
  border-radius: 6px;
  color: #5e387c;
  transition: 0.4s ease;
  cursor: pointer;
}
.button-start:hover {
  background-color: #e5d4f9;
}
.row {
  width: 1200px;
  margin: 90px auto;
}
.row-color {
  background-color: #5e387c;
}
.column-3 {
  width: 30%;
}
.column-3 img {
  width: 200px;
}
.column-4 {
  width: 25%;
  padding: 1rem 0.5rem;
}
.column-4 img {
  width: 100%;
}
.homepage .column-left {
  width: 50%;
  padding-right: 40px;
}
.homepage .column-right {
  width: 50%;
}
.homepage .bottom {
  text-align: center;
}
.homepage .bottom h2 {
  margin-bottom: 1em;
}

/*** Explore page ***/
.explore h1 {
  margin-bottom: 1rem;
}
.explore input {
  margin: 0;
}
.explore .column-left {
  width: 360px;
  padding: 1.5rem;
}
.explore .column-right {
  max-width: 75%;
}

/*** Footer ***/
.footer {
  background-color: #5e387c;
  color: #FFFFFF;
  padding: 3em 0 10em;
}
.footer-content {
  text-align: center;
  width: 1200px;
  margin: auto;
}
.footer .logo {
  width: 400px;
  height: initial;
  margin: 0 auto 1.5rem;
}
.footer img {
  width: 100%;
}

/*** Messenger ***/
.messenger{
  height: calc(100vh - 70px);
  display: flex;
}
.chatMenu{
  flex: 3.5
}
.chatMenuInput{
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;

}
.chatBox{
  flex: 5.5
}
.chatBoxWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.chatBoxTop{
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}
.chatBoxBottom{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatMessageInput{
  width: 80%;
  height: 90px;
  padding: 10px;
}
.chatSubmitButton{
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(108, 37, 159);
  color: white;
}
.chatOnline{
  flex: 3
}
.chatOnlineFriend{
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}
.chatOnlineImgContainer{
  position: relative;
  margin-right: 10px;
}
.chatOnlineImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}
.chatOnlineBadge{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
.conversation{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  /* margin-top: 20px; */
}
.conversation:hover{
  background-color: rgb(242, 229, 251);
}
.conversationImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.conversationName{
  font-weight: bold;
}
.noConversationText{
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: gray;
  text-align: center;
  cursor: default;
}
.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px; 
}
.messageTop{
  display: flex;
}
.messageBottom{
  font-size: 12px;
}
.message.own{
  align-items: flex-end;
}
.message.own  .messageText{
  background-color: rgb(238, 234, 234);
  color: black;
}
.messageImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messageText{
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(108, 37, 159);
  color: white;
  max-width: 300px;
}

/*** Search ***/
.search {
  width: 100%;
}
.search-input {
  width: 100%;
  padding: 0.5rem;
}

/*** Authform ***/

.authform.flex-container {
  align-items: normal;
}
.authform .column-left {
  width: 50%;
}
.authform .column-right {
  background: url('/images/login-background.jpg');
  background-size: cover;
  background-position: center;
  width: 50%;
}
.login {
  margin-left: calc(50% + 5px);
  transform: translateX(-50%);
  padding: 25vh 0;
}
.login button {
  padding: 1em 2em;
  background-color: #5e387c;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', 'Tahoma', sans-serif;
  font-size: 1rem;
  font-weight: 10;
  justify-content: center;
  line-height: 1;
  margin: 1rem auto;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s ease;
  width: 100%;
}
.login button:hover {
  background-color: #e5d4f9;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}
.login button.google {
  background-color: transparent;
  border: 1px solid #757575;
  color: #757575;
  display: flex;
  align-items: center;
  padding: 0 1em 0 0.25em;
  width: initial;
}
input,
select,
textarea {
	color: #606060;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-size: .875em;
	border: 1px solid #8d8d8d;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 0.75em 0.75em;
	width: 100%
}
label, input {
  margin: 4px auto;
}
.field-row {
  display: block;
  margin: 1em 0;
}

/*** Challenges ***/
.row.top {
  text-align: center;
}

/*** Responsive ***/
@media (max-width: 1280px) {
  .row, .footer-content {
    width: 80%;
  }
}
@media (max-width: 980px) {
  .row {
    width: 80%;
  }
  .row .flex-container {
    flex-direction: column;
  }
  .homepage .column-left, .homepage .column-right, .column-3, .column-4 {
    width: 90%;
  }
  .column-right {
    margin-top: 1.5em;
  }
  .column-right img {
    width: 100%;
  }
  .hero-text {
    width: 90%;
  }
}